# API Keys & Auth
FORUM_API_TOKEN=""
BOT_UID=
MENTORPICK_API_KEY=""
GEMINI_API_KEYS="abcd, efgh"

# Base URLs (Point these to production when ready to go live)
FORUM_BASE_URL="https://beta2forum.mentorpick.com"
API_BASE_URL="https://beta2.mentorpick.com"

# Bot Behavior Controls
TARGET_TAGS=""
IGNORE_TAG="ai-response-false"
START_TIME="2026-05-20T00:00:00+05:30"